:host {
  display: block;
  height: 100%;
}

.products-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.empty-state {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.warning-icon {
  width: 120px;
  height: 120px;

  border: 3px solid #dcdcdc;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 60px;
  font-weight: bold;
}

.empty-state p {
  font-size: 20px;
  text-align: center;
}